.block {
  position: relative;
  display: inline-block;
}

.input {
  padding: 4px;
  padding-left: 20px;
  width: 200px;
  height: 30px;
  border-radius: 4px;
  border: none;
  box-shadow: -4px 0 14px 1px rgba(0, 0, 0, 0.089);
}

.label {
  position: absolute;
  left: 10px;
  top: 10px;
  pointer-events: none;
  transition: 0.2s;
  color: gray;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: -8px;
  font-size: 12px;
  color: #333;
  background-color: #fff;
}

/* Eye button for showing password */
.showPasswordBtn {
  position: absolute;
  right: 1px;
  top: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* styles for eye icon */
.imageVisibility {
  width: 22px;
  height: 25px;
}

.clearValueBtn {
  position: absolute;
  border: none;
  right: 2px;
  top: 6px;
  cursor: pointer;
  height: 26px;
  width: 26px;
  background-color: transparent;
}
